# config/database.yml
default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch('DATABASE_HOST') { 'localhost' } %>
  port: 5432
  username: <%= ENV.fetch('DATABASE_USERNAME') { 'super_admin' } %>
  password: <%= ENV.fetch('DATABASE_PASSWORD') { 'SomeSecretPassword' } %>
  database: <%= ENV.fetch('DATABASE_NAME') { 'weather_forecast_app' } %>
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>

development:
  <<: *default
  database: <%= ENV.fetch('DATABASE_NAME') { 'weather_forecast_app' } %>

test:
  <<: *default
  database: weather_forecast_app_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>